.topBanner {
  background-color: #19206b;
}

.navBar {
  max-width: 100%;
  height: 60px;
  background: linear-gradient(45deg, #1a237e 30%, #283593 90%);
  transition: 0.5s;
}

.nav {
  margin-top: -18px;
}

.navLink {
  color: rgb(219, 219, 219) !important;
  font-family: Roboto, serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  text-decoration: none;
  transition: 0.3s;
  padding-top: 0;
  padding: 18px;
}

.navBarScroll {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  background-color: #ffffff !important;
  transition: 0.5s;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.navLinkScroll {
  color: rgb(0, 0, 0, 1) !important;
  font-family: Roboto, serif;
  font-size: 18px !important;
  font-weight: 400 !important;
  text-decoration: none;
  transition: 0.3s;
  padding: 18px;
}

.navLink:hover {
  color: white !important;
  background-color: rgb(65, 78, 216) !important;
}

.navlink.active {
  color: white !important;
  background-color: rgb(65, 78, 216) !important;
}

.navLinkScroll:hover {
  color: white !important;
  background-color: rgba(27, 24, 46, 0.8) !important;
  padding: 20px 18px 18px 18px;
}

.logoImg {
  width: 100px;
  height: 60px;
  padding: 0;
}

.carouselImg {
  width: 100%;
  height: 550px;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logoLeftDivImg {
  width: 100%;
  max-width: 90px;
  padding: 10px;
  height: 70px;
  margin-left: 30px;
}

.cseLogo {
  width: 100%;
  height: 70px;
  max-width: 270px;
  padding: 10px;
}

.logoRightDiv img {
  width: 100%;
  height: 70px;
  max-width: 100px;
  padding: 10px;
}

.logoRightDiv {
  display: flex;
  justify-content: right;
  margin-right: 30px;
}

.bannerRight {
  width: 28%;
  height: auto;
  background: #010f29;
  text-align: center;
  border: 1px solid rgb(97, 94, 94);
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: rgb(254, 251, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerRight img {
  width: 99%;
  height: auto;
}

.bannerRight h3 {
  font-weight: 500 !important;
  letter-spacing: 1px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.buttonBanner {
  width: 45% !important;
  height: 95% !important;
  margin-top: 0 !important;
  padding: 0 !important;
  font-size: small;
  margin-bottom: 5% !important;
}

.cardImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card {
  height: 380px !important;
  /* border-radius: 0 !important; */
  text-align: center;
  background-color: white !important;
}

.contactBtn {
  background: #010f29 !important;
  border: 1px solid rgb(188, 188, 188) !important;
  color: rgb(210, 203, 203) !important;
  font-size: 18px !important;
  font-family: Oswald, serif !important;
  font-weight: 500 !important;
  border-radius: 2% !important;
}

.contactBtn:hover {
  border: 1px solid rgb(214, 213, 213) !important;
  background-color: rgb(214, 213, 213) !important;
  color: black !important;
}

Button {
  font-family: Montserrat, serif !important;
}

.choyonSir {
  width: 100% !important;
  height: 300px !important;
}

.choyonSirWidth {
  height: 300px !important;
  transition: 0.5s;
}

.choyonSir:hover {
  box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -webkit-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -moz-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  transition: 0.3s;
  cursor: pointer;
}

.choyonSirWidth:hover {
  box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -webkit-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -moz-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  transition: 0.3s;
  cursor: pointer;
}

.teacherDescription {
  font-size: 14px;
  display: none;
}

.teacherDescriptionShow {
  font-size: 14px;
  font-family: Roboto, serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  text-align: justify !important;
}

.footer {
  background-color: #282c34 !important;
  border-radius: 0 !important;
}

.title {
  font-size: 19px !important;
  color: #1b182e !important;
  font-family: Montserrat, serif;
  font-weight: 500;
}

.cardTitle {
  font-size: 16px !important;
  font-family: Montserrat, serif !important;
  font-weight: 500;
}

.titleSponsor {
  font-size: 21px !important;
  font-weight: 500 !important;
  font-family: Montserrat, serif !important;
}

.description {
  font-size: 16px;
  font-family: Montserrat, serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.subTitle {
  font-size: 17px;
  font-family: poppin, serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.honorContainer .card {
  background-color: white !important;
  height: auto !important;
  border: 2px solid #cdcfd1 !important;
  font-weight: 700 !important;
  font-family: Montserrat, serif;
  margin: 1%;
  width: auto !important;
  color: rgba(0, 0, 0, 0.4) !important;
}

.honorContainer .card:hover {
  color: rgb(41, 41, 45) !important;
  font-weight: 800 !important;
}

.titleSeeMoreNotice {
  font-size: 18px !important;
  font-family: Montserrat, serif;
  font-weight: 500 !important;
}

.honorContainer .noticeDivLeft .card-carousel {
  margin: 0 6% 1% 4%;
}

.honorContainer .carouselImg {
  height: 490px;
}

.honorContainer .noticeDivLeft .alumniDescription {
  margin-right: 6%;
  margin-left: 4%;
}

.honorContainer .strategyWidth {
  background-color: white !important;
  border: 2px solid silver !important;
}

.honorContainer .strategyWidth:hover {
  box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
}

.noticeDivLeft {
  background-color: white;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.noticeDivLeft .noticeTitle {
  background-color: #cdcfd1 !important;
  margin-right: 6%;
  margin-left: 4%;
  box-shadow: 0 0 2px rgba(50, 49, 49, 0.3) !important;
}

.carouselCaptionDivLeftHonor {
  position: absolute;
  bottom: 20px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.noticeDivRight {
  margin: 0 8% 0 0;
  background-color: rgb(255, 255, 255);
  color: rgb(22, 21, 21);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.carouselItemContainerSpeech {
  background-color: white;
  color: silver;
  margin-right: 8%;
}

.noticeTitle {
  text-transform: uppercase;
  font-size: 20px;
  font-family: Montserrat, serif;
  font-weight: 400;
  text-align: center;
  color: rgba(0, 0, 0, 0.6) !important;
}

.jucseDescriptionTitle {
  font-family: Montserrat, serif;
  font-size: 20px;
}

.noticeTitleSpeech {
  font-family: Montserrat, serif;
  font-size: 20px;
  font-weight: 400;
  background-color: #cdcfd1;
  color: rgba(0, 0, 0, 0.6) !important;
}

.noticeDivRightHeading {
  color: rgba(0, 0, 0, 0.6) !important;
  background-color: #cdcfd1;
  font-family: Montserrat, serif;
}

.noticeDivRight a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: rgba(54, 52, 52, 0.8) !important;
  font-family: Montserrat, serif !important;
  font-weight: 400;
  font-size: 14px;
  padding-left: 3%;
}

.noticeDivRight hr {
  margin-right: 4%;
  margin-left: 3%;
  border: 1px solid #021b4a;
}

.noticeDivRight a:hover {
  color: rgb(163, 163, 226) !important;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  text-decoration: none;
}

.seeMoreLink {
  color: blue !important;
  font-size: 16px;
  font-family: Montserrat, serif;
  font-weight: 700;
}

.contact {
  padding-left: 10% !important;
}

.contact h4 {
  color: white;
  font-size: 20px;
  font-family: Oswald, serif;
  font-weight: 500;
}

.contact a {
  text-decoration: none;
  font-size: 14px;
  color: silver;
  font-family: Roboto, serif;
  font-weight: 400;
}

.contact a:hover {
  text-decoration: underline;
  color: white;
}

.contact h6 {
  text-decoration: none;
  font-size: 14px;
  color: silver;
  font-family: Roboto, serif;
  font-weight: 400;
}

.carouselVideo {
  cursor: pointer !important;
  padding: 5px !important;
}

.contact span {
  text-decoration: none;
  font-size: 14px;
  color: silver;
  font-family: Roboto, serif;
  font-weight: 400;
  cursor: pointer;
}

.copyWrite {
  background-color: #63666e;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.footerCredit {
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: rgba(0, 0, 0, 0.8) !important;
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px !important;
}

.footerCredit a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 400;
  font-size: 14px;
}

.footerCredit a:hover {
  color: #041145 !important;
  cursor: pointer;
}

.iconDiv {
  display: flex;
  margin-left: -4px;
  margin-top: 5px;
  margin-bottom: 4px;
}

.contactLink {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 20px !important;
  font-family: Montserrat, serif !important;
  font-weight: 500 !important;
  width: 30px !important;
  height: 30px !important;
  color: #0d39e1 !important;
  background-color: white;
  border-radius: 50%;
}

.contactLink:hover {
  background-color: #0d39e1 !important;
  transition: 0.3s;
  color: white !important;
}

.supportDiv:hover {
  box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -webkit-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -moz-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  transition: 0.3s;
  cursor: pointer;
}

.supportImg {
  width: 100%;
  height: 200px;
  padding: 50px;
  border-radius: 2px;
  border: 1px solid rgb(175, 190, 196);
}

.supportImg:hover {
  box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -webkit-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -moz-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  transition: 0.3s;
  cursor: pointer;
}

.topImg {
  width: 30%;
  margin: 0 auto !important;
}

.carouselVideo .carousel-indicators {
  display: none;
}

.whiteTitle {
  color: white;
  font-size: 18px;
  font-family: Montserrat, sans-serif, serif;
  font-weight: 500;
}

.carouselItemContainerSpeech hr {
  border: 2px solid silver;
  margin-right: 4%;
  margin-left: 3%;
}

.nextBtn {
  text-align: right;
}

.nextBtn Button {
  background-color: gray !important;
  width: 80px !important;
  font-family: Montserrat, serif;
  font-size: 20px !important;
  font-weight: 500;
  text-transform: uppercase;
}

.backBtn {
  background-color: #1b182e !important;
  width: 80px !important;
  font-family: Montserrat, serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.nextBtn2 {
  position: absolute !important;
  background-color: #1b182e !important;
  width: 80px !important;
  font-family: Montserrat, serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  right: 11px;
}

.supportImgJU {
  width: 30%;
  height: auto;
}

.cardImgStrategy {
  width: 100px;
  height: 85px;
  border-radius: 20%;
}

.strategyWidth {
  width: 100% !important;
  height: 200px !important;
}

.strategyWidth:hover {
  box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -webkit-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  -moz-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
  transition: 0.3s;
  cursor: pointer;
}

.strategyDescription {
  font-size: 24px;
  display: none;
}

.strategyDescriptionShow {
  font-size: 16px;
  font-family: Roboto, serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  display: block;
  text-align: center !important;
  margin-top: 11%;
}

.StrategyCardsCol .card {
  border-radius: 1% !important;
  padding: 2% !important;
}

.StrategyCardsCol .card:hover {
  box-shadow: 0 0 10px skyblue !important;
  transform: scale(1.01) !important;
}

.titleStrategy {
  font-size: 19px !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-family: Montserrat, serif;
  font-weight: 600 !important;
}

.subTitleStrategy {
  font-size: 16px;
  font-family: Roboto, serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.4) !important;
}

.StrategyTitleBorder {
  font-size: 26px !important;
  color: rgba(0, 0, 0, 0.7) !important;
  padding-top: 1%;
  font-weight: 300;
  letter-spacing: 3px;
  font-style: italic;
}

.committeeTextDiv {
  background-color: #1b182e;
  text-align: center;
  padding: 7px 0 1px 0;
  margin: 0 0.67rem;
}

.vcDiv {
  display: flex;
  justify-content: center;
}

.vcDiv img {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}

.dateCard {
  border-radius: 3px !important;
  border: 1px solid silver !important;
  height: 200px !important;
  padding: 20px 0 10px 0;
  background-color: white !important;
}

.dateCard:hover {
  background-color: rgba(215, 233, 255, 0.5) !important;
  transition: 0.3s;
  cursor: pointer;
}

.tab_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  background: #fafafa;
  width: 100%;
  margin-top: 1rem;
}

.single_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.single_tab:hover {
  background: #eee;
}

.single_tab.active {
  /* color: #fff; */
  border-bottom: 2px solid var(--bs-link-hover-color);
  color: var(--bs-link-hover-color);
  font-weight: 600;
  /* background: var(--bs-link-hover-color); */
}


.global_card {
  box-shadow: 0 6px 8px rgba(0, 0, 0, .15);
}

.successBackground {
  background-size: cover;
  background: url("../Images/banner.png") no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successContent {
  text-align: center;
  z-index: 1;
}

.card_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;

}


.single_user_card {
  display: flex;
  flex-direction: column;
  /* width: 25rem; */
  height: 30rem;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
  overflow: hidden;
  padding: 1rem;


}

.single_user_card .card_header {
  display: flex;
  align-items: center;
  /* width: 100%; */
  padding: .5rem 1rem;
  height: 45px;
  background: powderblue;
  margin: -1rem -1rem 1rem -1rem;
  font-weight: 600;

}

.single_user_card .image_wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 50%;
  flex-shrink: 0;
  border-radius: 4px;
  margin-bottom: 1rem;

}

.single_user_card .image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.single_user_card .userName {
  font-size: 20px !important;
  margin-bottom: .5rem;
}

.single_user_card .info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.single_user_card .label {
  width: 3.5rem;
}

.single_user_card .value {
  font-weight: 600;
}

.institute_name {
  font-size: 36px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 1rem .5rem 1rem;
}

.team_name {
  font-size: 26px;
  margin: 1rem auto;
  text-align: center;
  font-weight: 600;
}

.action_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.payment_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}

.payment_container .container_header_title {
  font-size: 30px;
}

.payment_container .search_box {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

.payment_container .search_box input {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: .5rem 1rem;
}

.team_payment_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem;
}

.payment_content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.payment_content .bks_main_logo {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.team_payment_wrapper .team_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
  padding: 1rem;
  border-radius: 10px;
}

.team_payment_wrapper .member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
  padding: 1rem;
  border-radius: 10px;
}

.team_payment_wrapper .team_card .team_title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1rem;

}

.team_payment_wrapper .team_card .paid {
  font-size: 20px;
  font-weight: 600;
  margin-top: .5rem;


}

.team_payment_wrapper .team_card .btn_payment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .5rem, 1rem;
  min-width: 100%;
  min-height: 50px;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .15);
  margin: 1rem 0;
}

.team_card .btn_payment .bkashLogo {
  width: 32px;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.btn_common {
  border: none;
  border-radius: 4px;
  padding: .5rem 1rem;
  background: #fff;
  height: 50px;
  background: var(--bs-link-hover-color);
  color: #fff;
}

.btn_common.gray {
  border: none;
  border-radius: 4px;
  padding: .5rem 1rem;
  background: #fff;
  height: 50px;
  background: #eee;
  color: #444;
}

.response_result {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f00;
  width: 100%;
}