.registration {
    background-color: rgb(255, 255, 255);
    padding: 0 12% 5% 12%;
    width: 100%;
    height: auto;
}
.boldTitle{
    text-align: center;
    font-size: 50px;
    font-family: Oswald, serif;
    font-weight: 500;
    color: rgb(255, 255, 255);  
}

.form-control{
    margin-top:5px;
    box-shadow: 0 0 0 1px rgb(222, 221, 221);
    font-weight:350!important;
}
.form-control:hover{
    box-shadow: 0 0 1px 1px skyblue !important;
    border:1px solid skyblue;
}
.form-control:focus{
    box-shadow: 0 0 1px 1px skyblue !important;
    border: 2px solid skyblue!important;   
}

.nextBtn{
    margin-left:30%;
}
.nextBtn2:hover{
    background-color: #413c69!important;
    color:white;
}
.backBtn:hover{
    background-color: #413c69!important;
    color:white;
}
.form-check-input{
   border: 1px solid black;
    margin-top: 1%;
}
.form-check-input:hover{
    cursor: pointer;
    border:1px solid black!important;
}
.firstContestant hr{
    border:1px solid #1b182e;
}
.firstContestant h4{
    font-weight:bold;
    font-size:xx-large;
}
.firstContestant h3{
    background-color: #1b182e;
    margin:2% 0 2% 0;
    padding:1%;
    color:aliceblue;
    font-family: Montserrat, sans-serif, serif !important;
    font-weight: 300;
}

  .firstContestant label {
      color: rgba(0,0,0,0.9);
      font-family: Montserrat, sans-serif, serif !important;
      font-size: 16px;
      font-weight: 400;
      margin-top: 1%;
  }
  
  .firstContestant .title{
    font-size: 29px!important;
    margin-top:2%;
  }
.submitBtn{
    color: white;
    border: 1px solid black;
    background-color: #1b182e; 
    font-family: Montserrat, serif;
    font-size: 20px;
    font-weight: 700;
}
.submitBtn:hover{
    background-color: darkgreen!important;
    color:white!important;
    cursor: pointer!important;
}
.registrationTitleDiv{
    background-color: #1B182E;
    padding: 15px;
    border-radius: 10px 10px 0 0 ;
}
.formBorder{
    box-shadow: 0 0 20px rgba(50, 49, 49, 0.3)!important;
    border-radius: 7px;
}
.responsiveRegi{
    padding: 0 5% 5% 5%;
}
.photoSelect{
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color:#929292;
}
.firstContestant .gender{
    color: rgba(0,0,0,1);
    font-family: Relawaye, sans-serif, serif !important;
    font-size: 14px;
    font-weight: 500;
}
.photoSelect img{
    width: 100%;
    height: auto;
}
.genderFix{
    margin-left: 30px;
}

.PaymentImg{
    width:400px;
    height:auto;
    padding:5%;
    border-radius: 1%;
    border:1px solid rgb(191, 191, 194);
}

.PaymentImg:hover{
    box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
    -webkit-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
    -moz-box-shadow: -2px 1px 12px 1px rgba(64, 105, 135, 0.75);
    transition: 0.3s;
    cursor: pointer;
}