@media (max-width: 1074px){
    .countdown-box {
        border-radius: 9px;
        margin: 5px;
        max-width: 20% !important;
        max-height: 70px !important;
        padding-top: 13px;
        box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.7);
        animation: colorChange 1s infinite;
    }
    .countTxt{
        color:#fff;
        font-family: Roboto, serif;
        font-weight: 400;
        font-size: 15px!important;
    }
    .legend {
        color:#fff;
        font-family: Montserrat, sans-serif, serif;
        font-weight: 400;
        font-size: 10px!important;
    }

    .honorContainer.carouselImg{
        width:100%;
        height:300px!important;
    }
     .Dates_Counts{
        padding:0!important;

     }


}

@media (max-width: 771px) {
    .dateCard{
        padding-top: 30px;
    }
    .responsiveRegi{
        margin-top: 90px!important;
    }
    .boldTitle{
        font-size: 35px!important;
        font-weight: 400!important;
        padding-top: 20px;
    }

    .countTxt{
        color:#fff;
        font-family: Roboto, serif;
        font-weight: 400;
        font-size: 12px!important;
        padding: 0!important;
        margin: 0!important;
    }
    .legend {
        color:#fff;
        font-family: Montserrat, sans-serif, serif;
        font-weight: 400;
        font-size: 8px!important;
        padding: 0!important;
    }
    .deptInfo{
       font-size:14px;
       font-weight:250;
      }

      .logoLeftDivImg{
          width: 60px;
          height: 60px;
          margin-left: 0;
      }
      .cseLogo{
         display: none;
      }
      .logoRightDiv img{
          width: 60px;
          height: 60px;
      }
}

@media (max-width: 225px) {
    .boldTitle{
        font-size: 23px!important;
        font-weight: 300!important;
    }
}

@media (max-width: 575px) {
    .dateCard{
        padding-top: 40px;
    }
    .responsiveRegi{
        margin-top: 10px!important;
    }
    .registration {
        background-color: rgb(255, 255, 255);
        padding:2px!important;
        width: 100%;
        height: auto;
    }
    .registrationTitleDiv{
        padding:0 10px 10px 10px!important;
    }
    .registrationTitleDiv .boldTitle{
        font-size: 30px!important;
    }
    a {
        margin-top: 0!important;
    }
    .custom-hamburger {
        background-color: white!important;
        border: 1px solid #fff;
        margin: -3px 0 0 10px;
        width: 60px!important;
        height: 30px!important;
        padding: 0!important;
    }
    .nav{
        position: absolute;
        z-index: 100000;
        margin: 0!important;
        width: 100%;
        background-color: #1b182e!important;
    }
    .navBar{
        height: 40px;
        background-color: #1b182e!important;
        transition: 0.5s;
    }
    .navBarScroll{
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        height: 40px;
        background-color: #1b182e!important;
        transition: 0.5s;
    }
    .navLink{
        color: rgba(0,0,0,1) !important;
        font-family: Roboto,serif;
        font-size: 15px!important;
        font-weight: 400!important;
        text-decoration: none;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        color:silver!important;
        background-color: #3a355d!important;
        padding: 5px 0 5px 0;
    }
    .navLink:hover{
        padding: 5px 0 5px 0!important;
        background-color: #7168b3!important;
        color:white!important;
    }
    .navLinkScroll{
        color: rgba(0,0,0,1) !important;
        font-family: Roboto,serif;
        font-size: 15px!important;
        font-weight: 400!important;
        text-decoration: none;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        color:silver!important;
        background-color: #3a355d;
        padding: 5px 0 5px 0;

    }
    .navLinkScroll:hover{
        padding: 5px 0 5px 0!important;
        background-color: #7168b3!important;
        color: white!important;
    }
      .carouselImg{
        width:100%;
        height:320px;
    }

    .contactBtn{
        width: 200px !important;
        font-size: 14px!important;
        margin-left: -10px;
        font-weight: 400!important;
        border: 1px solid #1b182e!important;
        background-color: #1b182e!important;
    }

    .submitBtn{
        width: 60% !important;
        font-weight:350!important;
    }
    .nextBtn{
        font-weight:350!important;
    }
    .nextBtn2{
        font-weight:350!important;
    }
    .backBtn{
        font-weight:350!important;
    }
    .firstContestant{
        margin-bottom: 10px;
    }
    .StrategyTitleBorder h6{
        font-size: 9px!important;
    }

      .firstContestant h3{
       font-size:16px;
       font-weight: 300;
    }
    .PaymentImg{
     width:100px!important;
     margin:4%!important;
    }

}

