
/*.marquee {*/
/*    padding:4px 0 2px 0;*/
/*    white-space: nowrap;*/
/*    animation: marquee 30s linear infinite;*/
/*    font-family: Roboto, serif;*/
/*    font-weight: 400;*/
/*    color:#413c69;;*/
/*    font-size: 14px;*/
/*}*/
/*.marquee span{*/
/*    cursor: pointer;*/
/*}*/
/*@keyframes marquee {*/
/*    0% {*/
/*        transform: translateX(100%);*/
/*    }*/

/*    100% {*/
/*        transform: translateX(-100%);*/
/*    }*/
/*}*/

marquee {
    padding:4px 0 2px 0;
    font-family: Roboto, serif;
    font-weight: 400;
    color:red;;
    font-size: 14px;
    scrollamount: 6;
}
marquee span{
    cursor: pointer;
}

@media (max-width: 767px) {
    marquee {
        scrollamount: 1!important;
    }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
